body{
  padding: 15px;
  width: 250px;
  background-color: #222933;
  color: #4D91E3;
}



  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 5px 0;
  }
  
  button {
    margin-top: 10px;
    background-color: #0073e6;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005bb3;
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip img {
    width: 16px;
    filter: invert(1);
  }

  /* Tooltip text */
  .tooltip .tooltiptext {
    filter: no;
  visibility: hidden;
  width: 130px;
  background-color: #5C6B7D;
  color: #8ABEFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(58, 58, 58) transparent;
}


 
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}